<table id="list"><thead><tr><th style="width:55%">>&nbsp; </th><th style="width:20%">&nbsp; </th></tr></thead>

<p>this section contains ISO file from Windows or any other places?</p>
<tbody>

<tr><td class="link"><a href="https://bit.ly/3yanHtG">Windows 10</a></td><td class="size"></tr>
<tr><td class="link"><a href="https://bit.ly/3ms2nO7">Windows 8.1</a></td><td class="size"></tr>
<tr><td class="link"><a href="https://bit.ly/3DfcWK7">Windows 8</a></td><td class="size"></tr>
<tr><td class="link"><a href="https://bit.ly/3yfFBem">Windows 7</a></td><td class="size"></tr>
<tr><td class="link"><a href="https://bit.ly/388vhdE">Windows XP x64</a></td><td class="size"></tr>

</tbody></table></body></html>